@import '~common-frontend-components/src/font';

html {
  @extend .font-museo-sans-300;
  background: #fafafa;
  overflow-x: hidden;
}

html,
body,
#container {
  margin: 0;
  height: 100%;
}

.app-icon {
  width: 165px;
  height: 49px;
  background: url('../assets/logo-cr.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
}

.app-logo {
  width: 165px;
  height: 75px;
  background: url('../assets/logo-transparent.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin: 0 auto;
}

.app-logo-white {
  width: 165px;
  height: 75px;
  background: url('../assets/logo-cr.png') no-repeat center center;
  background-size: contain;
  display: inline-block;
  margin: 0 auto;
}

.nav-item {
  margin: auto;
  width: 60px;
  height: 61px;
  background-repeat: no-repeat;
}

.pivot-preview {
  background: url('../assets/react-pivot.png') no-repeat center center;
  background-size: contain;
}

.analyze {
  background-image: url('../assets/analyze_active.png');
}

.configure {
  background-image: url('../assets/configure_active.png');
}

.widget-container {
  height: calc(100vh - 226px);
  overflow: scroll;
  padding-bottom: 50px;

  &.scrolled {
    height: calc(100vh - 150px);
  }
}

.recharts-wrapper {
  margin: 0 auto;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.query-items > div {
  margin: 15px 0;
}

.fullscreen-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-title > * {
  margin: 0 10px !important;
}

.select-error.custom-react-select > div > div:after {
  border-bottom: 2px solid red !important;
}

.select-error.custom-react-select > div > div:before {
  border-bottom: 1px solid red !important;
}

.sortableHelper {
  z-index: 1000;
}

#rank-tooltip,
#actions-popper {
  z-index: 1000;
}

button > span > span {
  text-transform: capitalize !important;
}

.recharts-bubble {
  display: grid;
  align-items: center;
}

.recharts-wrapper {
  position: static !important;
}

.recharts-wrapper {
  svg:not(:root) {
    overflow: visible !important;
  }
}

.recharts-legend-wrapper {
  font-size: 11px;

  li {
    line-height: normal;
  }
}

.recharts-responsive-container {
  margin: 0 auto;
}

.custom-chart-label {
  display: flex;
  padding: 0 5px 0 5px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  &.dark {
    background-color: #888;
  }
}

.card-animate {
  height: 100%;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.sortable-list {
  position: relative;
  height: 100%;
  list-style-type: none;
}
